<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Checkout</title>
        <meta name="description" content="Checkout" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static\./CSS/style.css">
    </head>

    <body>
        <!-- Div per il button del carrello -->
        <div class="checkout">
            <div>
                <h1>Checkout</h1>  
                <a href="./carrello.html"><button class="button" type="button" value="carrello">Carrello</button></a>
            </div>

            <br><hr><br>

        <!-- Div per il form inerente l'indirizzo e il metodo di pagamento -->
            <div>
                <form>
                    <label>Indirizzo</label>
                    <input type="text" placeholder="Inserire indirizzo" name="indirizzo" required><br><br>
                    <label>Metodo di pagamento</label>
                    <input type="text" placeholder="Inserire il metodo di pagamento" 
                    name="metodoPagamento" required><br>

                    <button class="button" type="submit">Ordina</button><br>
                </form>
            </div>
        </div>
    </body>
</html>