{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Checkout</title>
        <meta name="description" content="Checkout" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <!-- Div per il button del carrello -->
        <div class="checkout">
            <div>
                <h1>Checkout</h1>  
                <a href="../carrello"><button id="carrelloCheckout" class="button" type="button" value="carrello">Carrello</button></a>
            </div>

            <br><hr><br>

        <!-- Div per il form inerente l'indirizzo e il metodo di pagamento -->
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input id="ordina" class="button" type="submit" value="Ordina">
                </form>
            </div>
        </div>

        <!-- Footer -->
        <footer class="centered-footer">
            <h5>Progetto di Michele Melis, Manolo Sainas, Chiara Ganga</h5>
        </footer>

    </body>
</html>