{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Home</title>
        <meta name="description" content="Home" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>      
        <div class="home">

            <!-- Div contenente i Filtri e il logout -->
            <div>
                <h1>Home</h1> 

                <a href="./carrello.html"><button class="button" type="button" value="carrello">Carrello</button></a>
                <a href="../login.html"><button class="button" type="button" value="logout">Logout</button></a>
            </div>

            <br><hr><br>

            <div>
                <!-- Filtro per cercare mediante una parola chiave -->
                <label for="nomeP">Inserisci parola chiave:</label>
                <input type="text" id="nomeP"><br>

                <button class="button" onclick="filtraTabella()">Cerca</button>

            </div>

            <br>

            <!-- Tabella contenente i prodotti presenti nel negozio -->
            <div>
                <table id="prodottiNegozio">
                    <tr>
                        <th><b>Nome prodotto</b></th>
                        <th><b>Tipologia</b></th>
                        <th><b>Descrizione</b></th>
                        <th><b>Prezzo</b></th>
                        <th><b>Quantità</b></th>
                        <th><b>Azione</b></th>
                    </tr>
                    <!-- Qui verranno inserite le righe per i prodotti -->
                    {% for prodotto in prodotti %}
                        <td> {{ prodotto.nome }} </td>
                        <td> {{ prodotto.tipologia }} </td>
                        <td> {{ prodotto.descrizione }} </td>
                        <td> {{ prodotto.prezzo }} </td>
                        <td> {{ prodotto.quantita }} </td>
                        <td> <button id={{prodotto.id}} class="button" 
                            onclick="aggiungiProdottoCarrello()">Aggiungi prodotto</button> </td>
                    {% endfor %}
                </table>        
            </div>
        </div>
    </body>
</html>