<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Home</title>
        <meta name="description" content="Home" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>      
        <div class="Home">

            <!-- Div contenente il filtro e il logout -->
            <div>
                <h1>Home</h1> 
                <button type="button" value="Filtra">Filtra</button>
                <button type="button" value="Logout">Logout</button>
            </div>

            <!-- Tabella contenente i prodotti presenti nel negozio -->
            <div>
                <table id="prodottiNegozio">
                    <tr>
                        <th><b>Nome prodotto</b></th>
                        <th><b>Tipologia</b></th>
                        <th><b>Descrizione</b></th>
                        <th><b>Prezzo</b></th>
                        <th><b>Quantità</b></th>
                        <th><b>Azione</b></th>
                    </tr>
                    <!-- Qui verranno inserite le righe per i prodotti -->
                </table>        
            </div>
        </div>
    </body>
</html>