{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Registration page</title>
        <meta name="description" content="Registration page" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div>
            <a href="../login"><button class="button" type="button" value="logout">Logout</button></a>
        </div>

        <!-- div che contiene il form per la registrazione -->
        <div class="registrazione">
            <h1>Registration page</h1> 
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Registrati">
            </form> 
        </div>
    </body>
</html>