<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Aggiungi prodotto</title>
        <meta name="description" content="Aggiungi prodotto" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static\./CSS/style.css">
    </head>

    <body>      
        <div class="homeAmm">

            <!-- Div contenente la home -->
            <div>
                <h1>Aggiungi prodotto</h1> 
                
                <a href="./Home_amministratore.html"><button class="button" type="button" value="home">Home</button></a>
            </div>

            <br><hr><br>

            <!-- Form per inserire un nuovo prodotto -->
            <div>
                <h2>Inserisci le informazioni del prodotto</h2>
                <form>
                    <label for="nomeProdotto">Nome del prodotto</label><br>  
                    <input type="text" placeholder="Inserire il nome" name="nomeProdotto" required><br><br>
                    <label for="tipologiaProdotto">Tipologia di prodotto</label><br>  
                    <input type="text" placeholder="Inserire tipologia" name="tipologiaProdotto" required><br><br>
                    <label for="descrizioneProdotto">Descrizione del prodotto</label><br>  
                    <textarea type="text" placeholder="Inserire descrizione" name="descrizioneProdotto" required></textarea><br><br>
                    <label for="prezzoProdotto">Prezzo del prodotto (€)</label><br>  
                    <input type="number" placeholder="Inserire prezzo" name="prezzoProdotto" required><br><br>
                    <label for="quantitàProdotto">Quantità dell prodotto</label><br>  
                    <input type="number" placeholder="Inserire quantità" name="quantitàProdotto" required><br><br>

                    <input class="button" class="tastoInput" type="submit" value="Inserisci il prodotto">
            </form>   

        </div>
    </body>
</html>