<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Aggiungi prodotto</title>
        <meta name="description" content="Aggiungi prodotto" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>      
        <div class="homeAmm">

            <!-- Div contenente il filtro e il logout -->
            <div>
                <h1>Aggiungi prodotto</h1> 
                <button type="button" value="filtra">Filtra</button>
                <a href="./Aggiungi_prodotto.html"><button type="button" 
                    value="aggiungiProdotto">Aggiungi prodotto</button></a>
                <a href="../login.html"><button type="button" value="logout">Logout</button></a>
            </div>

        </div>
    </body>
</html>