<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Home amministratore</title>
        <meta name="description" content="Home amministratore" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>      
        <div class="homeAmm">

            <!-- Div contenente il filtro e il logout -->
            <div>
                <h1>Home amministratore</h1> 
                <button type="button" value="filtra">Filtra</button>
                <a href="./Aggiungi_prodotto.html"><button type="button" 
                    value="aggiungiProdotto">Aggiungi prodotto</button></a>
                <a href="../login.html"><button type="button" value="logout">Logout</button></a>
            </div>

            <!-- Tabella contenente i prodotti presenti nel negozio -->
            <div>
                <table id="prodottiNegozio">
                    <tr>
                        <th><b>Nome prodotto</b></th>
                        <th><b>Tipologia</b></th>
                        <th><b>Descrizione</b></th>
                        <th><b>Prezzo</b></th>
                        <th><b>Disponibilità</b></th>
                        <th><b>Azione</b></th>
                    </tr>
                    <!-- Qui verranno inserite le righe per i prodotti -->
                </table>        
            </div>

            <div>
                <a href="./Resoconto_vendite.html"><button type="button" 
                    value="aggiungiProdotto">Resoconto vendite</button></a>
            </div>
        </div>
    </body>
</html>