{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Resoconto vendite</title>
        <meta name="description" content="Resoconto vendite" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>      
        <div class="resVen">

            <!-- Div contenente la home e il Filtri -->
            <div>
                <h1>Resoconto vendite</h1> 

                <a href="../Home_amministratore"><button class="button" type="button" value="home">Home</button></a>
                
            </div>

            <br><hr><br>

            
            <div class="FiltroResocontoVendite">
                <!-- Filtro per cercare mediante un form -->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="button" type="submit" value="Filtra">
                </form> 
            </div>
            

            <br>

            <!-- Tabella contenente il resoconto -->
            <div>
                <table id="resocontoVendite">
                    <thead>
                        <tr>
                            <th><b>Nome prodotto</b></th>
                            <th><b>Tipologia</b></th>
                            <th><b>Prezzo</b></th>
                            <th><b>N° pezzi venduti</b></th>
                            <th><b>Totale</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Qui verranno inserite le righe per i prodotti -->
                        {% for prodottoVenduto in resocontoVendite %}
                            <td> {{ prodottoVenduto.nome }} </td>
                            <td> {{ prodottoVenduto.tipologia }} </td>
                            <td> {{ prodottoVenduto.prezzo }} </td>
                            <td> {{ prodottoVenduto.numeroPezziVenduti }} </td>
                            <td> {{ prodottoVenduto.ricavo }}</td>
                        {% endfor %}
                    <tbody>
                </table>  
                
                <!-- Indecisione su come implementare il totale -->
                <table id="totale">
                    <tr>
                        <th><b>Totale vendite</b></th>
                        <th{{stock.totale_prodotti_venduti}}></th>   <!-- Qui verrà inserito il totale dei prodotti venduti -->
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>