<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Resoconto vendite</title>
        <meta name="description" content="Resoconto vendite" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static\./CSS/style.css">
    </head>

    <body>      
        <div class="homeAmm">

            <!-- Div contenente la home e il Filtri -->
            <div>
                <h1>Resoconto vendite</h1> 

                <a href="./Home_amministratore.html"><button type="button" value="home">Home</button></a>
                
                <!-- Filtro per cercare mediante una parola chiave -->
                <label for="nomeP">Inserisci parola chiave:</label>
                <input type="text" id="nomeP"><br>
    
                <button onclick="filtraTabella()">Cerca</button>
            </div>

            <!-- Tabella contenente il resoconto -->
            <div>
                <table id="prodottiNegozio">
                    <tr>
                        <th><b>Nome prodotto</b></th>
                        <th><b>Tipologia</b></th>
                        <th><b>Prezzo</b></th>
                        <th><b>N° pezzi venduti</b></th>
                        <th><b>Totale</b></th>
                    </tr>
                    <!-- Qui verranno inserite le righe per i prodotti -->
                </table>  
                
                <!-- Indecisione su come implementare il totale -->
                <table id="totale">
                    <tr>
                        <th><b>Totale vendite</b></th>
                        <th></th>   <!-- Qui verrà inserito il totale -->
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>