<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login page</title>
        <meta name="description" content="Login Page" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static\./CSS/style.css">
    </head>

    <body>
        <h1 id="titolo">Login page</h1> 

        <!-- div che contiene il form per il login -->
        <div class="login">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}i
                <input type="submit" value="Logn">
                <p>Non sei registrato? <a class="registrati" href="./utente/registrazione.html">Registrati qui!</a></p>  
            </form>
        </div>    
    </body>
</html>

